/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Quicksand', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Nav */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
}

#nav-left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    column-gap: 15px;
}

#nav-logo {
    width: 60px;
    height: auto;
}

#nav-title {
    margin-left: 15 px;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

#nav-right ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    column-gap: 15px;
}

#nav-right ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #000080;
}

#nav-right ul li a:hover {
    color: #000000;
    text-decoration: underline;
    cursor: pointer;
}

#nav-right ul li a:visited {
    color: #000080;
}

.download-resume {
    color: #fff;
    background: #000080;
    padding: 12px 15px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.5s ease;
}

.download-resume:hover {
    color: #fff;
    background: #000030;
}

#nav-right .fa {
    margin-left: 5px;
}


/* Main */

section {
    padding: 15px;
}

section h2 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    font-weight: bold;
    color: #000080;
}

.title-underline {
    width: 50px;
    height: 5px;
    background-color: #000080;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50px;
}


/* Header */

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 170px;
    column-gap: 30px;
}

#header-left {
    padding: 20px;
}

#header-left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 40px;
}

#headline {
    font-family: 'Playfair Display', serif;
    font-size: 52px;
    font-weight: bold;
    color: #000080;
}

#summary {
    font-size: 18px;
    line-height: normal;
    text-align: justify;
}

#social-links {}

.social-link {
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    margin: 0 5px;
    transition: content ease 0.5s;
}

.social-link .fab {
    margin-right: 5px;
}

#linkedin {
    background-color: #0a66c2;
    transition: background-color ease 0.5s;
}

#github {
    background-color: #1f2328;
    transition: background-color ease 0.5s;
}

#youtube {
    background-color: #ff0000;
    transition: background-color ease 0.5s;
}

#linkedin:hover {
    background-color: #094b91;
}

#github:hover {
    background-color: #000000;
}

#youtube:hover {
    background-color: #cc0000;
}

#profile-photo {
    width: 320px;
    height: auto;
    border-radius: 50%;
}

#header-right {
    padding: 20px;
}


/* Skills */

#skills {
    background: #f9f9f9;
}

#skill-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
}

.skill {
    width: 300px;
    height: 300px;
    border: 1px solid #f9f9f9;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%)
}


/* Projects */

#projects {}

#project-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
}

.project {
    width: 300px;
    height: 300px;
    border: 1px solid #f9f9f9;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%)
}


/* Contact */

#contact {
    background: #f9f9f9;
}


/* Footer */

footer {
    background: #000080;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}